@import "tailwindcss";

@layer base {
    body {
        color: #404553;
        overflow-x: hidden;
    }

    .site-container {
        margin-inline: auto;
        max-width: min(100vw, 1440px);
        width: 100%;
    }

    .modal-open {
        overflow: hidden;
    }
}