@import "tailwindcss";

@layer base {
    * {
        -webkit-user-drag: none;
        scroll-behavior: smooth;
    }

    body {
        color: #404553;
        overflow-x: hidden;
    }

    img,
    a {
        pointer-events: auto;
        -webkit-user-drag: none;
    }


    .site-container {
        margin-inline: auto;
        max-width: min(100vw, 1440px);
        width: 100%;
    }

    .modal-open {
        overflow: hidden;
    }

}